html {
  font-family: Avenir, helvetica;
  background-color: black;
  color: white;
  letter-spacing: 1.5px;
  background: url("../images/background2.jpg") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#root {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: Lato, Avenir;
  font-size: 30px;
  text-align: center;
  letter-spacing: 4px;
}

a {
  color: white;
}

button {
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

label {
  text-transform: capitalize;
}
