html {
  font-family: Avenir, helvetica;
  background-color: black;
  color: white;
  letter-spacing: 1.5px;
  background: url("../images/background2.jpg") no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#root {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: Lato, Avenir;
  font-size: 40px;
  text-align: center;
  letter-spacing: 4px;
  margin-bottom: 50px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ffff99;
}

.button {
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: inherit;;
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
}

.addButton {
  margin-bottom: 40px;
}

label {
  text-transform: capitalize;
}
